<!-- Subscribe section -->
<div class="therichpost-container therichpost-black therichpost-padding-32">
    <h1>Subscribe</h1>
    <p>To get special offers and VIP treatment:</p>
    <p><input class="therichpost-input therichpost-border" type="text" placeholder="Enter e-mail" style="width:100%">
    </p>
    <button type="button" class="therichpost-button therichpost-red therichpost-margin-bottom">Subscribe</button>
</div>

<!-- Footer -->
<footer class="therichpost-padding-64 therichpost-light-grey therichpost-small therichpost-center" id="footer">
    <div class="therichpost-row-padding">
        <div class="therichpost-col s4">
            <h4>Contact</h4>
            <p>Questions? Go ahead.</p>

            <p><input class="therichpost-input therichpost-border" type="text" placeholder="Name" name="Name" required>
            </p>
            <p><input class="therichpost-input therichpost-border" type="text" placeholder="Email" name="Email"
                    required>
            </p>
            <p><input class="therichpost-input therichpost-border" type="text" placeholder="Subject" name="Subject"
                    required></p>
            <p><input class="therichpost-input therichpost-border" type="text" placeholder="Message" name="Message"
                    required></p>
            <button type="submit" class="therichpost-button therichpost-block therichpost-black">Send</button>

        </div>

        <div class="therichpost-col s4">
            <h4>About</h4>
            <p><a href="#">About us</a></p>
            <p><a href="#">We're hiring</a></p>
            <p><a href="#">Support</a></p>
            <p><a href="#">Find store</a></p>
            <p><a href="#">Shipment</a></p>
            <p><a href="#">Payment</a></p>
            <p><a href="#">Gift card</a></p>
            <p><a href="#">Return</a></p>
            <p><a href="#">Help</a></p>
        </div>

        <div class="therichpost-col s4 therichpost-justify">
            <h4>Store</h4>
            <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
            <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
            <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
            <h4>We accept</h4>
            <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
            <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
            <br>
            <i class="fa fa-facebook-official therichpost-hover-opacity therichpost-large"></i>
            <i class="fa fa-instagram therichpost-hover-opacity therichpost-large"></i>
            <i class="fa fa-snapchat therichpost-hover-opacity therichpost-large"></i>
            <i class="fa fa-pinterest-p therichpost-hover-opacity therichpost-large"></i>
            <i class="fa fa-twitter therichpost-hover-opacity therichpost-large"></i>
            <i class="fa fa-linkedin therichpost-hover-opacity therichpost-large"></i>
        </div>
    </div>
</footer>

<div class="therichpost-black therichpost-center therichpost-padding-24"><a href="https://therichpost.com/"
        title="W3.CSS" target="_blank" class="therichpost-hover-opacity">therichpost.com</a></div>