<div class="container mb-4" *ngIf="cart">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of cart.items">
              <td><img [src]="entry.imageUrl" style="width: 50px;height: 50px;"/> </td>
              <td>{{entry.productName}}</td>
              <td>In stock</td>
              <td><input class="form-control" type="text" [value]="entry.quantity" /></td>
              <td class="text-right">Rs. {{entry.price}}</td>
              <td class="text-right"><button class="btn btn-sm btn-danger" (click)="removeProductFromCart(entry.productCode)"><i class="fa fa-trash"></i> </button> </td>
            </tr>

            <tr class="blank_row">
              <td colspan="6">&nbsp;</td>
            </tr>
            <tr class="blank_row">
              <td colspan="6">&nbsp;</td>
            </tr>
           

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">Rs. {{cart.grossTotal}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">Rs. {{cart.tax}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>Rs. {{cart.itemsTotal}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-block btn-success">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>