<div class="container mb-4" *ngIf="cart">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <br><br>
        <table class="table borderless">
          <thead class="table-secondary bold">
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of cart.items">
              <td><img [src]="entry.imageUrl" style="width: 50px;height: 50px;"/> </td>
              <td>{{entry.productName}}</td>
              <td>In stock</td>
              <td class="text-center">{{entry.quantity}}</td>
              <td class="text-right">Rs. {{entry.price}}</td>
              <td class="text-right"><button class="btn btn-sm btn-danger" (click)="removeProductFromCart(entry.productId)"><i class="fa fa-trash"></i> </button> </td>
            </tr>



            <tr class="">
              <td colspan="6">&nbsp;</td>
            </tr>
            <tr class=" text-center" *ngIf="cart.items.length == 0">
              <td colspan="6">Cart is empty</td>
            </tr>
            <tr class="">
              <td colspan="6">&nbsp;</td>
            </tr>
           

            <tr class="table-secondary">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">Rs. {{cart.grossTotal}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Shipping</td>
              <td class="text-right">Rs. {{cart.tax}}</td>
            </tr>
            <tr class="table-secondary">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>Rs. {{cart.itemsTotal}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-3">
          <button class="btn btn-outline-secondary" (click)="continueShopping()">Continue Shopping</button>
        </div>
        <div class="col-sm-12  col-md-3"></div>
        <div class="col-sm-12  col-md-3"></div>
        <div class="col-sm-12 col-md-3 text-right">
          <button class="btn btn-block btn-success" (click)="placeOrder()">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>