<!-- Push down content on small screens -->
<div *ngIf="productCategory">
    <div class="therichpost-container therichpost-text-grey therichpost-large" id="jeans">
        <p>Size {{product.length}}</p>
    </div>

    <!-- Product grid -->
    <div class="therichpost-row therichpost-grayscale">
        <div class="therichpost-col l3 s6 p-2" *ngFor="let product of product">
            <div>
                <img [src]="product.primaryImageUrl" style="width: 200px;height: 300px;">
                <span class="therichpost-tag therichpost-display-topleft" *ngIf="product.isNew">New</span>
                <!-- <span class="therichpost-tag therichpost-display-topleft" *ngIf="product.isFeatured">Featured</span> -->
            </div>
            <p style="height: 50px;">{{product.name}} - <b>#{{product.productId}}</b><br></p>
            <b>Rs. {{product.price}}</b>
            <div *ngIf="product.status == 'INSTOCK'">
                <div class="therichpost-text-green"><b>In Stock</b></div>
            </div>
            <div *ngIf="product.status == 'OUTOFSTOCK'">
                <div class="therichpost-text-red"><b>Out of Stock</b></div>
            </div>
            <div *ngIf="product.status == 'UNAVAILABLE'">
                <div class="therichpost-text-red"><b>Unavailable</b></div>
            </div>
            <div *ngIf="product.status == 'LOWSTOCK'">
                <div class="therichpost-text-primary"><b>Low Stock</b></div>
            </div>
            <button class="therichpost-button therichpost-black"
                ng-disabled="product.status == 'UNAVAILABLE' || product.status == 'OUTOFSTOCK'"
                (click)="addProductToCart(product.productId)">Add To Cart<i class="fa fa-cart"></i></button>
        </div>
    </div>
</div>

<!-- <h4 class="myaccount_heading" style="margin-top:30px;margin-left:25px;">Your Search Results</h4> -->

<!-- Product grid -->
<!-- <div class="therichpost-row therichpost-grayscale">
    <div class="therichpost-col l3 s6" style="float:left;margin:35px;" *ngFor="let product of products">
        <div class="therichpost-container">
            <img [src]="product.primaryImageUrl" style="width:100%; ">
            <span class="therichpost-tag therichpost-display-topleft" *ngIf="product.isNew">New</span>
            <span class="therichpost-tag therichpost-display-topleft" *ngIf="product.isFeatured">Featured</span>
        </div>
        <p>{{product.name}}<br><b>Rs. {{product.price}}</b></p>
        <button class="therichpost-button therichpost-black" (click)="addProductToCart(product.productId)">Add To Cart <i class="fa fa-cart"></i></button>
    </div>
</div> -->
<br>
<br>
<br>