<app-navbar [productCategories]="productCategories" [cart]="cart"></app-navbar>
<div class="therichpost-main" style="margin-left:250px">
  <!-- <router-outlet></router-outlet> -->
  <app-product-list></app-product-list>
  <app-footer></app-footer>
</div>






























<!-- Newsletter Modal -->
<!-- <div id="newsletter" class="therichpost-modal">
  <div class="therichpost-modal-content therichpost-animate-zoom" style="padding:32px">
    <div class="therichpost-container therichpost-white therichpost-center">
      <i onclick="document.getElementById('newsletter').style.display='none'"
        class="fa fa-remove therichpost-right therichpost-button therichpost-transparent therichpost-xxlarge"></i>
      <h2 class="therichpost-wide">NEWSLETTER</h2>
      <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
      <p><input class="therichpost-input therichpost-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button"
        class="therichpost-button therichpost-padding-large therichpost-red therichpost-margin-bottom"
        onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div> -->